all:
  hosts:
    localhost:
  children:
    master:
      hosts:
        {{ master.server.public_v4 }}:
            ansible_user: centos
    workers:
      hosts:
        {{ worker0.server.public_v4 }}:
          ansible_user: centos
        {{ worker1.server.public_v4 }}:
          ansible_user: centos
        {{ worker2.server.public_v4 }}:
          ansible_user: centos
    cluster:
      children:
        master:
        workers:
    devstack:
      hosts:
        {{ worker0.server.public_v4 }}:


